body {
	background-color: #ebf4f4;
}

.form {
	border: 1px solid #cfdede;
	width: 320px;
	height: 370px;
	margin: 98px auto;
    background-color: #fff;
    padding: 42px 28px;
}

.content {
	height: 345px;
	margin-top: -45px;
}

.cracc {
	width: 150px;
	height: 25px;
	background-color: #01b3b3;
	color: #fff;
	text-transform: uppercase;
    font: 12px Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase; 
    margin-bottom: 33px;
    border: 0;
}

.form-header {
	font: 12px Arial, sans-serif;
	font-weight: bold;
	color: #333333;
}

.star {
	color: #01b3b3;
}

input {
	width: 260px;
	height: 30px;
	border: 1px solid #cfdede;
	background-color: #ebf4f4;
	color: #777777;
	font-style: italic;
	margin-bottom: 20px;
}

.emailname {
	padding-left: 12px;
}

.regbtn {
    background-color: #01bbbb;
    color: #fff;
    font: 16px Arial, sans-serif;
    font-weight: bold;
    width: 260px;
    height: 48px;
    text-transform: uppercase;
    margin-top: 17px;
    border-radius: 4px;
}